﻿@using ETourGuide.Models
@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@{ 
    var _context = new ApplicationDbContext();
    var distanceTravelled = 0;
    var customersCount = _context.Users.Count() - 1;
    var tripsCount = _context.TripBookings.Count() + _context.Bookings.Count();
    var placesCount = _context.Places.Count();
    var transort = _context.Transport.Count();
    foreach (var item in _context.TripBookings.ToList())
    {
        distanceTravelled = distanceTravelled + item.DistanceTravelled;
    }
}

<h2>Dashboard</h2>
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@tripsCount<sup style="font-size: 20px">+</sup></h3>
                        <p>Trips arranged</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="/Admin/Bookings/Trip" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@customersCount<sup style="font-size: 20px">+</sup></h3>
                        <p>Happy Customers</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-happy"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@placesCount<sup style="font-size: 20px">+</sup></h3>
                        <p>Places Covered</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-map"></i>
                    </div>
                    <a href="/Admin/Places" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@transort</h3>
                        <p>Transport Available</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="/Admin/Transports" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>