﻿@model ETourGuide.ViewModels.BookingsHistoryViewModel
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    <h2>Bookings History</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Advance Payment</th>
                <th>Bill</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TripBooking)
            {
                <tr>
                    <td>@item.Date</td>
                    <td>@item.Advance</td>
                    <td>@item.Bill</td>
                    @if (item.Status == "Pending")
                    {
                        <td><span class="badge" style="background:#ffc107;color:#333">@item.Status</span></td>
                    }
                    @if (item.Status == "Completed")
                    {
                        <td><span class="badge">@item.Status</span></td>
                    }
                    @if (item.Status == "Cancelled")
                    {
                        <td><span class="badge" style="background:#d9534f;color:#fff">@item.Status</span></td>
                    }

                    <td>@Html.ActionLink("Cancel", "CancelTrip", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })</td>
                </tr>
            }
            @foreach (var item in Model.Bookings)
            {
                <tr>
                    <td>@item.BookingDate</td>
                    <td>@item.Advance</td>
                    <td>@item.Bill</td>
                    @if (item.Status == "Pending")
                    {
                        <td><span class="badge" style="background:#ffc107;color:#333">@item.Status</span></td>
                    }
                    @if (item.Status == "Completed")
                    {
                        <td><span class="badge">@item.Status</span></td>
                    }
                    @if (item.Status == "Cancelled")
                    {
                        <td><span class="badge" style="background:#d9534f;color:#fff">@item.Status</span></td>
                    }
                    <td>@Html.ActionLink("Cancel", "CancelEvent", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })</td>
                </tr>
            }
        </tbody>
    </table>

    @*<h3>Events Booked</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Advanced Amount</th>
                    <th>Bill</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Bookings)
                {
                    <tr>
                        <td>@item.BookingDate</td>
                        <td>@item.Advance</td>
                        <td>@item.Bill</td>
                        <td>@item.Status</td>
                        <td>@Html.ActionLink("Cancel", "Cancel", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })</td>
                    </tr>
                }
            </tbody>
        </table>*@

</div>
