﻿@model ETourGuide.ViewModels.SummaryViewModel
@using ETourGuide.Models
@{
    ViewBag.Title = "Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container body-content">
    <h2 class="view-titles">Trip Summary</h2>
    <div class="ver_gap"></div>
    @if (Model.CartPlaces.Count > 0)
    {

        <h4>You can Select/Change hotel for individual place. If no hotels are available, we will make arrangements.</h4>
        <h5><span>You can also select transport by clicking on Select Transport button</span></h5>
        <div class="ver_gap"></div>
        <div class="row">
            <div class="col-md-6">
                @if (Model.Cart.TransportId == null)
                {
                    <h4><i>No transport selected. Click on Select transport to add.</i></h4>
                }
                else
                {
                    <h4>Transport: <span class="alert alert-info"> @Model.Cart.Transport.Name </span></h4>
                }
            </div>
            <div class="col-md-6">
                @Html.ActionLink("Select Transport for the Trip", "AddTransportToCart", new { controller = "Cart" }, new { @class = "btn btn-primary pull-right" })
            </div>
        </div>
        <div class="ver_gap"></div>

    }
    <div class="tripSummaryWrapper">
        @if (Model.CartPlaces.Count < 1)
        {
            <h4 style="text-align:center">You have not selected any places yet</h4>
        }
        else
        {
            <div class="row" style="border-bottom:1px solid #aaa;font-weight:bold; margin-bottom:20px;">
                <div class="col-md-2 summary-row">
                    <p>Image</p>
                </div>
                <div class="col-md-2 summary-row">
                    <p>Place</p>
                </div>
                <div class="col-md-3 summary-row">
                    <p>Hotel</p>
                </div>

                <div class="col-md-2 summary-row">
                    <p>No. of Days</p>
                </div>

                <div class="col-md-2 summary-row">
                    <p>Price</p>
                </div>
                <div class="col-md-1 summary-row">
                </div>
            </div>
            using (Html.BeginForm("CollectPayment", "Cart", FormMethod.Post))
            {
                //foreach (var item in Model.CartPlaces)
                for (int i = 0; i < Model.CartPlaces.Count; i++)
                {
                    @Html.HiddenFor(x => x.CartPlaces[i].Id)
                    <div class="row">
                        <div class="col-md-2 summary-row">
                            <img style="width:70px;height:70px;" src="~/Images/Places/@Model.CartPlaces[i].Place.Image" class="img-thumbnail img-responsive" />
                        </div>
                        <div class="col-md-2 summary-row">
                            <p>@Model.CartPlaces[i].Place.Name</p>
                        </div>
                        <div class="col-md-3 summary-row">
                            @{
                                var context = new ApplicationDbContext();
                                var placeId = Model.CartPlaces[i].PlaceId;
                                var placeHotels = context.Hotels.Where(x => x.PlaceId == placeId).ToList();

                                if (placeHotels != null && placeHotels.Count < 1)
                                {
                                    <p><i>No Hotels Available in this area</i></p>
                                }
                                else
                                {
                                    if (Model.CartPlaces[i].Hotel != null)
                                    {
                                        <p>@Model.CartPlaces[i].Hotel.Name <a href="/Cart/ChangeCartHotel?cartPlaceId=@Model.CartPlaces[i].Id" style="background:#ffc107;color:#333" class="badge pull-right">Change Hotel</a></p>
                                    }
                                    else
                                    {
                                        <p>No Hotel Selected <a href="/Cart/ChangeCartHotel?cartPlaceId=@Model.CartPlaces[i].Id" style="background:#ffc107;color:#333" class="badge pull-right">Select Hotel</a></p>
                                    }
                                }
                            }
                        </div>
                        <div class="col-md-2">
                            @Html.TextBoxFor(x => Model.CartPlaces[i].Days, new { Value = "1", min = 1, type = "number", style = "width:100px", @class = "form-control", data_price = Model.CartPlaces[i].Place.PricePerDay })
                            @Html.HiddenFor(x => Model.CartPlaces[i].Place.PricePerDay)
                        </div>
                        <div class="col-md-2">
                            <p>Rs. @Model.CartPlaces[i].Place.PricePerDay /- per day</p>
                        </div>
                        <div class="col-md-1 summary-row">
                            @Html.ActionLink(" ", "Delete", new { controller = "Cart", id = Model.CartPlaces[i].Id }, new { @class = "glyphicon glyphicon-trash", style = "color:#ff0000;font-size:20px" })
                        </div>
                    </div>
                    <hr />
                }
                <span style="display:inline-block;width:150px;font-size:18px;" class="pull-right">Total Bill : <span id="TotalBill"></span></span>
                @Html.HiddenFor(x => x.Cart.Bill)
                <div class="ver_gap"></div>
                <div class="ver_gap"></div>
                <button class="btn btn-primary pull-right">Confirm Trip</button>
                <div class="ver_gap"></div>
                <div class="ver_gap"></div>
            }

        }
    </div>
</div>



@section Scripts{
    <script>
        $(document).ready(function () {
            generateBill();
            $('[id ^= "CartPlaces"]').on('input', function () {
                //$('#personsNumber').text(parseInt($('#Persons').val()));
                //alert($(this).attr('data-price'))
                generateBill();
            });



            function generateBill() {
                var total = 0;
                for (var i = 0; i < @Model.CartPlaces.Count; i++) {
                    total = total + (parseInt($('#CartPlaces_' + i + '__Days').val()) * parseInt($('#CartPlaces_' + i + '__Place_PricePerDay').val()));
                }
                $('#TotalBill').text(total);
                $('#Cart_Bill').val(total);

            }

        })
    </script>
}