﻿@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul style="margin:0 15px" class="nav navbar-nav navbar-right">
            <li style="position:relative; margin:0 10px">
                <a href="#">
                    <i style="color:#666;font-size:20px;padding:5px" data-toggle="popover" class="notification fa fa-bell"></i>
                    <span class="badge js-notifications-count hide"
                          style="position:absolute ; top:0px; right:-2px ; background:#a80808">
                    </span>
                </a>
            </li>
            <li><a class="btn btn-danger btn-sm" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
