﻿@model ETourGuide.Models.Hotel

@{
    ViewBag.Title = "Details";
}


<div class="container">
    <h2>@Model.Name</h2>
    <div class="imageDetailWrapper">
        <div class="row">
            <div class="col-md-4">
                <img src="~/Images/Hotels/@Model.Image" style="width:100%" alt="Alternate Text" />
            </div>
            <div class="col-md-8">
                <h4>@Model.Name</h4>
                <h5>@Model.Location</h5>
                <h5>Available Rooms: @Model.AvailableRooms</h5>
                <h5>Rent: Rs. @Model.Rent /- per room</h5>
                @if (Model.IsOpened)
                {
                    <span class="btn btn-success">Opened</span>
                }
                else
                {
                    <span class="btn btn-danger">Closed</span>
                }
            </div>
        </div>
    </div>
</div>