﻿@model IEnumerable<ETourGuide.Models.Hotel>

@{
    ViewBag.Title = "Hotels";
}


<div class="placesWrapper body-content">
    <div class="container">
        <div class="page-title">
            <h2 class="view-titles">Hotels</h2>
        </div>
        <div class="row">
            <div class="image-tiles-wrapper">
                @{
                    foreach (var item in Model)
                    {
                        <div class="col-md-3">
                            <div class="image-tile">
                                <div class="title">
                                    <h4>@item.Name</h4>
                                </div>
                                <div class="image">
                                    <img src="~/Images/Hotels/@item.Image" style="width:100%" alt="@item.Name" />
                                </div>
                                <div class="location">
                                    <h6>@item.Location</h6>
                                </div>
                                <div>
                                    <h6>Available Rooms : @item.AvailableRooms</h6>
                                </div>
                                <div>
                                    <h6>Rent: Rs. @item.Rent /- per room</h6>
                                </div>
                                <div style="text-align:center">
                                    @Html.ActionLink("View Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary", style = "width:100%" })
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>