﻿@model ETourGuide.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="container body-content">

    <h2>@ViewBag.Title.</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword",null,new { @class="btn btn-warning btn-sm"})
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                
            </dd>
        </dl>
    </div>
</div>