﻿@model ETourGuide.ViewModels.QuestionnaireViewModel

@{
    ViewBag.Title = "Questionnaire";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="questionnaireAdminWrapper">

                    <h2>Questionnaire</h2>

                    @{
                        foreach (var question in Model.Questions)
                        {
                            <h6> <b> Question #@( Model.Questions.IndexOf(question) + 1)</b> : @question.Statement</h6>
                            if (Model.Answers.Where(a => a.QuestionId == question.Id).Count() < 1)
                            {
                                <p>No Answers added Yet</p>
                            }
                            else
                            {
                                <ul>
                                    @foreach (var answer in Model.Answers.Where(a => a.QuestionId == question.Id))
                                    {
                                        <li> @answer.Statement</li>
                                    }
                                </ul>
                            }
                        }
                    }
                </div>

            </div>
        </div>
    </div>
</section>

