﻿@model ETourGuide.ViewModels.AddPlaceViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                @using (Html.BeginForm("Save", "Places", FormMethod.Post, new { @class = "add-place-form", enctype = "multipart/form-data" }))
                {
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Add a Place</h3>
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-address-book"></i></span>
                                </div>
                                @Html.TextBoxFor(p => p.Place.Name, new { type = "text", @class = "form-control", placeholder = "Name" })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-newspaper"></i></span>
                                </div>
                                @Html.DropDownListFor(p => p.ProvinceId, new SelectList(Model.Provinces, "Id", "Name"), "Select Province", new { @class = "form-control select2" })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-align-left"></i></span>
                                </div>
                                @Html.TextBoxFor(p => p.Place.Description, new { type = "text", @class = "form-control", placeholder = "Description" })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-image"></i></span>
                                </div>
                                @Html.TextBoxFor(p => p.Place.Image, new { type = "file", @class = "form-control", placeholder = "Upload image", multiple = true })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-map-marker"></i></span>
                                </div>
                                @Html.TextBoxFor(p => p.Place.Location, new { type = "text", @class = "form-control", placeholder = "City / Address" })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-ruler-horizontal"></i></span>
                                </div>
                                @Html.TextBoxFor(p => p.Place.Distance, new { type = "number", @class = "form-control", placeholder = "Distance from Lahore" })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-ruler-horizontal"></i></span>
                                </div>
                                @Html.TextBoxFor(p => p.Place.Type, new { type = "text", @class = "form-control", placeholder = "Type of Place" })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-ruler-horizontal"></i></span>
                                </div>
                                @Html.TextBoxFor(p => p.Place.Days, new { type = "number", @class = "form-control", placeholder = "Suitable Days" })
                            </div>

                            <div class="card-footer">
                                <button class="btn btn-primary">
                                    Submit
                                </button>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                }

            </div>
        </div>
        <!--/.col (left) -->

    </div>
</section>
