﻿@model IEnumerable<ETourGuide.Models.Place>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <h2>Places</h2>
    @Html.ActionLink("Add a Place", "Add", null, new { @class = "btn btn-success pull-right" })
    <div class="ver_gap"></div>
    <table class="table list-table places-table">
        <tr style="box-shadow:0px 2px 3px #aaa; background:#0099cc;color:#fff">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                Province
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            <img src="~/Images/Places/@item.Image" style="width:80px;height:50px" class="img-thumbnail" alt="Alternate Text" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Province.Name)
        </td>

        <td>
            @*@Html.ActionLink("Add", "Add", null, new { @class = "btn btn-success btn-sm" })*@
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
        </td>
        <td>
            @*@Html.ActionLink("Add", "Add", null, new { @class = "btn btn-success btn-sm" })*@
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
        }

    </table>

</div>