﻿@model ETourGuide.ViewModels.HotelsViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                @using (Html.BeginForm("Save", "Hotels", FormMethod.Post, new { @class = "add-hotel-form", enctype = "multipart/form-data" }))
                {
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Add a Hotel</h3>
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-address-book"></i></span>
                                </div>
                                @Html.TextBoxFor(h => h.Hotel.Name, new { type = "text", @class = "form-control", placeholder = "Hotel Name" })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-map-pin"></i></span>
                                </div>
                                @Html.DropDownListFor(h => h.PlaceId, new SelectList(Model.Places, "Id", "Name"), "Select Place of hotel", new { @class = "form-control select2" })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-newspaper"></i></span>
                                </div>
                                @Html.TextBoxFor(h => h.Hotel.AvailableRooms, new { type = "number", @class = "form-control", placeholder = "Available Rooms" })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-image"></i></span>
                                </div>
                                @Html.TextBoxFor(h => h.Hotel.Image, new { type = "file", @class = "form-control", placeholder = "Upload image" })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-map-marker"></i></span>
                                </div>
                                @Html.TextBoxFor(h => h.Hotel.Location, new { type = "text", @class = "form-control", placeholder = "Address" })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-newspaper"></i></span>
                                </div>
                                @Html.TextBoxFor(h => h.Hotel.Rent, new { type = "number", @class = "form-control", placeholder = "Rent e.g 6500" })
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                    </div>
                }
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->

        </div>
        <!--/.col (left) -->

    </div>
</section>
