﻿@model IEnumerable<ETourGuide.Models.Hotel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Hotels</h2>
@Html.ActionLink("Add a Hotel", "Add", null, new { @class = "btn btn-primary pull-right" })
<div class="ver_gap"></div>
<table class="table list-table places-table">
    <tr style="box-shadow:0px 2px 3px #aaa; background:#0099cc;color:#fff">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Place
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableRooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rent)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableRooms)
            </td>
            <td>
                <img src="~/Images/Hotels/@item.Image" style="width:80px;height:50px" class="img-thumbnail" alt="Alternate Text" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rent)
            </td>

            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }

</table>
