﻿@model ETourGuide.Models.UserProfile

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">

<div class="col-md-3">
    <div class="media">
        <div class="media-left">
            <img src="~/Content/images/avatar.png" class="media-object" style="width:60px">
        </div>
        
    </div>
</div>
<div class="col-md-9">
    <div class="media-body">
        <h4 class="media-heading">John Doe</h4>
        <p>Lorem ipsum...</p>
    </div>
</div>
    </div>
</div>