﻿@model IEnumerable<ETourGuide.Models.Booking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <h2>Bookings</h2>

    <table class="table list-table places-table">
        <tr style="box-shadow:0px 2px 3px #aaa; background:#0099cc;color:#fff">
            <th>
                Customer Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Advance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persons)
            </th>
            <th>
                Payment
            </th>
            <th>
                Date
            </th>

            <th>Status</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Advance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bill)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Persons)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethod)
                </td>
                <td>
                    @item.BookingDate.ToShortDateString()
                </td>
                <td>
                    @if (item.Status == "Pending")
                    {
                        <span class="badge badge-warning">@item.Status</span>
                    }
                    else if (item.Status == "Completed")
                    {
                        <span class="badge badge-success">@item.Status</span>
                    }
                    else if (item.Status == "Cancelled")
                    {
                        <span class="badge badge-danger">@item.Status</span>
                    }
                </td>
                @*<td>
                        @Html.ActionLink("Add", "Add", new { @class = "btn btn-danger btn-sm" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id } , new { @class = "btn btn-danger btn-sm" })
                    </td>*@
            </tr>
        }

    </table>
</div>