﻿@model IEnumerable<ETourGuide.ViewModels.TripBookingsViewModel>

@{
    ViewBag.Title = "Trip";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Trip Bookings</h2>

<table class="table">
    <tr>
        <th></th>
    </tr>


</table>


<style>
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

        .active, .accordion:hover {
            background-color: #ccc;
        }

        .accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

    .active:after {
        content: "\2212";
    }

    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
</style>

<div class="container">

    @foreach (var item in Model)
    {
        <button class="accordion">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-4"><h5>User: @item.TripBooking.User.UserName</h5></div>
                    <div class="col-md-4"><h5>Date: @item.TripBooking.Date</h5></div>
                    <div class="col-md-4"><h5>Bill: @item.TripBooking.Bill</h5></div>
                </div>
            </div>
        </button>
        <div class="panel">
            @foreach (var detail in item.TripBookingPlaces)
            {
                /**/
                <div class="container-fluid" style="padding:20px 0">
                    <div class="row">
                        <div class="col-md-4">Place: @detail.Place.Name</div>
                        <div class="col-md-4">Location: @detail.Place.Location</div>
                        <div class="col-md-4"><img alt="" style="width:70px;height:50px" class="img-thumbnail" src="~/Images/Places/@detail.Place.Image" /></div>
                    </div>
                </div>
            }
        </div>
    }
</div>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>

