﻿@model ETourGuide.Models.Question

@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                @using (Html.BeginForm("Save", "Questions", FormMethod.Post, new { @class = "add-place-form", enctype = "multipart/form-data" }))
                {
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Add a Question</h3>
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-address-book"></i></span>
                                </div>
                                @Html.TextBoxFor(q => q.Statement, new { type = "text", @class = "form-control", placeholder = "Question Statement" })
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                    </div>
                }
                <!-- /.card-body -->
            </div>

        </div>
        <!--/.col (left) -->

    </div>
</section>
