﻿@model IEnumerable<ETourGuide.Models.Question>

@{
    ViewBag.Title = "Questions";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Questions</h2>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    @foreach (var question in Model)
                    {
                        <li>@question.Statement</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>