﻿@model IEnumerable<ETourGuide.Models.Province>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <h2>Places</h2>
    @Html.ActionLink("Add a Province", "Add", null, new { @class = "btn btn-success pull-right" })
    <div class="ver_gap"></div>
    <table class="table list-table places-table">
        <tr style="box-shadow:0px 2px 3px #aaa; background:#0099cc;color:#fff">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @*@Html.ActionLink("Add", "Add", null, new { @class = "btn btn-success btn-sm" })*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }

    </table>

</div>