﻿@model ETourGuide.ViewModels.CollectDetailsViewModel

@{
    ViewBag.Title = "CollectDetails";
}

<div class="ver_gap"></div>
<h4>You have selected: <b> @Model.Place.Name </b> for your trip.</h4>
<div class="questionWrapper">
    @using (Html.BeginForm("Save", "Questionnaire", FormMethod.Post, new { @class = "collect-details-form", enctype = "multipart/form-data" }))
    {
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="">
                        <h4>Fill out some additional details to confirm your booking.</h4>

                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Persons, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Persons, new { @class = "form-control", type = "number" })
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="form-group">
                                @Html.LabelFor(m => m.Days, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Days, new { @class = "form-control", type = "number" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 summaryWrapper">
                    <h3 style="margin:0 10px 10px 0px;">Your Planned Trip Summary</h3>

                    <div class="row">
                        <div class="col-md-5">
                            <h5>Selected Place</h5>
                        </div>
                        <div class="col-md-7">
                            <h5>@Model.Place.Name</h5>
                        </div>
                        <br />
                        <br />
                        <div class="col-md-5">
                            <h5>Selected Hotel</h5>
                        </div>
                        <div class="col-md-7">
                            <h5>@Model.Hotel.Name</h5>
                        </div>
                        <br />
                        <br />
                        <div class="col-md-5">
                            <h5>No. of Persons</h5>
                        </div>
                        <div class="col-md-7">
                            <h5 id="personsNumber"></h5>
                        </div>
                        <br />
                        <br />
                        <div class="col-md-5">
                            <h5>No. of Days</h5>
                        </div>
                        <div class="col-md-7">
                            <h5 id="daysNumber"></h5>
                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="col-md-5">
                            <h3>SubTotal</h3>
                        </div>
                        <div class="col-md-7">
                            <h3 id="totalBill"></h3>
                        </div>
                        <div class="col-md-12">

                            <div class="ver_gap"></div>
                            @Html.ActionLink("Proceed to Payment", "PaymentInfo", new { amount= 500}, new { @class = "btn btn-primary"})
                            @*<button class="btn btn-primary">Confirm Details</button>*@
                        </div>
                    </div>

                </div>

            </div>
        </div>

    }
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Persons').val(1);
            $('#Days').val(1);
            generateBill();
            $('#personsNumber').text(parseInt($('#Persons').val()));
            $('#Persons').on('input', function () {
                $('#personsNumber').text(parseInt($('#Persons').val()));
                generateBill();
            });

            $('#daysNumber').text($('#Days').val());
            $('#Days').on('input', function () {
                $('#daysNumber').text($('#Days').val());
                generateBill()
            });

            function generateBill() {
                var total = 1200 + (parseInt($('#Persons').val()) * 1000) + (parseInt($('#Days').val()) * 750);
                $('#totalBill').text(total);
            }

        })
    </script>
}