﻿@model ETourGuide.ViewModels.PlanRecommendationViewModel
@{
    ViewBag.Title = "Index";
}

<div class="container body-content">
    <div class="questionWrapper">
        <h2 class="view-titles">Plan Your Trip</h2>
        @using (Html.BeginForm("Recommendations", "PlanTrip", FormMethod.Post))
        {
            <h4>Fill the questionnare so we could suggest and recommend some best places to you.</h4>

            <div class="question-item">
                @{ <h5 style="font-weight:bold">
                        Question # 1 : Which type of place do you want to visit?
                    </h5>
                    for (int i = 0; i < Model.PlaceTypes.Count; i++)
                    {
                        <p>@Html.RadioButtonFor(x => Model.SelectedPlace, Model.PlaceTypes[i].Name) @Model.PlaceTypes[i].Name </p>
                    }
                    <h5 style="font-weight:bold">
                        Question # 2 : Whic province would you like to visit?
                    </h5>
                    for (int i = 0; i < Model.Provinces.Count; i++)
                    {
                        <p>@Html.RadioButtonFor(x => Model.SelectedProvince, Model.Provinces[i].Id) @Model.Provinces[i].Name </p>
                    }
                    <h5 style="font-weight:bold">
                        Question # 3 : For how many days you want to visit?
                    </h5>
                    for (int i = 1; i < 6; i++)
                    {
                        <p>@Html.RadioButtonFor(x => Model.SelectedDays, i) @i </p>
                    }

                }
                <button type="submit" class="btn btn-primary">Submit</button>
                <span style="padding:0 5px"></span>
                @Html.ActionLink("Skip", "Index", new { controller = "Provinces", area = "" }, new { @class = "btn btn-info" })

            </div>
        }
    </div>

</div>