﻿
@{
    ViewBag.Title = "PaymentCharge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <h2>Payment was successfull ! You will receive a confirmation Email shortly.</h2>
</div>

