﻿@model ETourGuide.ViewModels.RecommendationsViewModel

@{
    ViewBag.Title = "Recommendations";
}

<style>

    input[type="checkbox"][id^="cb"] {
        display: none;
    }


    label {
        border: 1px solid #fff;
        display: inline-block;
        position: relative;
        cursor: pointer;
    }

        label:before {
            background-color: white;
            color: white;
            content: " ";
            display: block;
            border-radius: 50%;
            border: 1px solid grey;
            position: absolute;
            top: -5px;
            left: -5px;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 28px;
            transition-duration: 0.4s;
            transform: scale(0);
        }

        label img {
            height: 150px !important;
            width: 150px;
            opacity: 1;
            transition-duration: 0.2s;
            transform-origin: 50% 50%;
            opacity: 0.8;
        }

    :checked + label {
        border-color: #ddd;
    }

        :checked + label:before {
            content: "✓";
            background-color: grey;
            transform: scale(1);
        }

        :checked + label img {
            transform: scale(0.9);
            box-shadow: 0 0 5px #333;
            z-index: -1;
            opacity: 1;
        }
</style>

<div class="recommendPlacesWrapper body-content">
    <div class="container">
        <h2 class="view-titles">Recommendations</h2>

        <div class="row">
            <div class="recommend-image-tiles-wrapper">
                @using (Html.BeginForm("AddRecommendedPlaces", "Cart", FormMethod.Post))
                {

                    for (int i = 0; i < Model.Places.Count(); i++)
                    {
                        <div class="col-md-3">
                            <div class="image-tile">
                                <div class="title">
                                    <h3>@Model.Places[i].Name</h3>
                                </div>
                                @Html.HiddenFor(x => x.Places[i].Id)
                                <div class="image">
                                    <input type="checkbox" id="cb@(i)" onchange="handleChange(this)" name="Places[@(i)].IsSelected" />
                                    <label for="cb@(i)">

                                        <img src="~/Images/Places/@Model.Places[i].Image" style="width:100%" alt="@Model.Places[i].Name" />
                                    </label>
                                </div>
                                <div class="description">
                                    <h6>@Model.Places[i].Description.Substring(0,50)...</h6>
                                </div>
                                @Html.ActionLink("View Details", "Details", new { id = Model.Places[i].Id }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                        @Html.CheckBoxFor(x => x.Places[i].IsSelected, new { style = "visibility:hidden" })
                    }
                    <div style="clear:both"></div>
                    <div class="ver_gap"></div>
                    <button class="btn btn-primary pull-left"> <span class="glyphicon glyphicon-shopping-cart"></span> Add Selected to Cart</button>
                    @Html.ActionLink("Skip", "Index", "Provinces", null, new { @class = "btn btn-warning pull-right", style = "width:200px" })

                    <div class="ver_gap"></div>
                    <div class="ver_gap"></div>

                }

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        function handleChange(obj) {
            if ($(obj).is(':checked')) {
                $('input[name="' + $(obj).attr('name') + '"]').prop('checked', true)
                $('input[name="' + $(obj).attr('name') + '"]').prop('value', true)
            }
            else {
                $('input[name="' + $(obj).attr('name') + '"]').prop('checked', false)
                $('input[name="' + $(obj).attr('name') + '"]').prop('value', false)
            }
        }
    </script>
}