﻿@model ETourGuide.ViewModels.PlanRecommendationViewModel

@{
    ViewBag.Title = "TestQuest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">

    <h2>TestQuest</h2>
    @using (Html.BeginForm("SaveDays", "PlanTrip", FormMethod.Post))
    {
        for (int i = 1; i < 6; i++)
        {
            @Html.RadioButtonFor(x => Model.SelectedDays, i) @i
        }
        <button>Submit</button>
        @Html.HiddenFor(x => x.SelectedPlace)
    }

</div>