﻿@model ETourGuide.ViewModels.PlanRecommendationViewModel

@{
    ViewBag.Title = "TestQuest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container body-content">

        <h2>TestQuest</h2>
        @using (Html.BeginForm("SaveProvince", "PlanTrip", FormMethod.Post))
        {
            for (int i = 0; i < Model.Provinces.Count; i++)
            {
                @Html.RadioButtonFor(x => Model.SelectedProvince, Model.Provinces[i].Id) @Model.Provinces[i].Name
            }
            <button>Submit</button>
            @Html.HiddenFor(x => x.SelectedPlace)
            @Html.HiddenFor(x => x.SelectedDays)

        }


    </div>