﻿@model IEnumerable<ETourGuide.Models.Transport>

@{
    ViewBag.Title = "SelectTransport";
}

<div class="placesWrapper">
    <div class="container">
        <div class="page-title">
            <h2>Select a suitable Transport</h2>
        </div>
        <div class="row">
            <div class="image-tiles-wrapper">
                @if (Model.Count() < 1)
                {
                    <h5>There are currently No hotels located or available in this areas.</h5>
                    @Html.ActionLink("Recommend for me", "SkipHotel", new { id = Model.Select(h => h.Id) }, new { @class = "btn btn-primary" })

                }
                @{
                    foreach (var item in Model)
                    {
                        <div class="col-md-3">
                            <div class="image-tile">
                                <div class="title">
                                    <h4>@item.Name</h4>
                                </div>
                                <div class="image">
                                    <img src="~/Images/Transport/@item.Image" style="width:100%" alt="@item.Name" />
                                </div>
                                <div class="capacity">
                                    <h6>No.of Seats: @item.Capacity</h6>
                                </div>
                                <div>
                                    <h6>Model : @item.Model</h6>
                                </div>
                                <div>
                                    <h6>Type: @item.Type</h6>
                                </div>
                                @Html.ActionLink("Confirm this Transport", "CollectDetails", new { id = item.Id, hotelId = ViewBag.HotelId }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>