﻿@model IEnumerable<ETourGuide.Models.Hotel>

@{
    ViewBag.Title = "SelectHotel";
}


<div class="placesWrapper">
    <div class="container">
        <div class="page-title">
            <h2>Hotels located in @Model.Select(h=>h.Place.Name).SingleOrDefault()</h2>
        </div>
        <div class="row">
            <div class="image-tiles-wrapper">
                @if (Model.Count() < 1)
                {
                    <h5>There are currently No hotels located or available in this areas.</h5>
                    @Html.ActionLink("Recommend for me", "SkipHotel", new { id = Model.Select(h => h.Place.Id) }, new { @class = "btn btn-primary" })

                }
                @{
                    foreach (var item in Model)
                    {
                        <div class="col-md-3">
                            <div class="image-tile">
                                <div class="title">
                                    <h4>@item.Name</h4>
                                </div>
                                <div class="image">
                                    <img src="~/Images/Hotels/@item.Image" style="width:100%" alt="@item.Name" />
                                </div>
                                <div class="location">
                                    <h6>@item.Location</h6>
                                </div>
                                <div>
                                    <h6>Available Rooms : @item.AvailableRooms</h6>
                                </div>
                                <div>
                                    <h6>Rent: @item.Rent</h6>
                                </div>
                                @Html.ActionLink("Select this Hotel", "SelectTransport", new { id = item.Id }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>