﻿@model ETourGuide.ViewModels.PlanRecommendationViewModel

@{
    ViewBag.Title = "TestQuest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container body-content">

        <h2>TestQuest</h2>
        @using (Html.BeginForm("SaveProvince", "PlanTrip", FormMethod.Post))
        {
            for (int i = 0; i < Model.PlaceTypes.Count; i++)
            {
                @Html.RadioButtonFor(x => Model.SelectedPlace, Model.PlaceTypes[i].Name) @Model.PlaceTypes[i].Name
            }
            for (int i = 0; i < Model.Provinces.Count; i++)
            {
                @Html.RadioButtonFor(x => Model.SelectedProvince, Model.Provinces[i].Id) @Model.Provinces[i].Name
            }
            for (int i = 1; i < 6; i++)
            {
                @Html.RadioButtonFor(x => Model.SelectedDays, i) @i
            }
            <button>Submit</button>
        }




    </div>