﻿@model ETourGuide.ViewModels.TestPlaceViewModel

@{
    ViewBag.Title = "TestPlaces";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    input[type="checkbox"][id^="cb"] {
        display: none;
    }


    label {
        border: 1px solid #fff;
        padding: 10px;
        display: inline-block;
        position: relative;
        margin: 10px;
        cursor: pointer;
    }

        label:before {
            background-color: white;
            color: white;
            content: " ";
            display: block;
            border-radius: 50%;
            border: 1px solid grey;
            position: absolute;
            top: -5px;
            left: -5px;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 28px;
            transition-duration: 0.4s;
            transform: scale(0);
        }

        label img {
            height: 100px;
            width: 100px;
            opacity: 1;
            transition-duration: 0.2s;
            transform-origin: 50% 50%;
            opacity: 0.8;
        }

    :checked + label {
        border-color: #ddd;
    }

        :checked + label:before {
            content: "✓";
            background-color: grey;
            transform: scale(1);
        }

        :checked + label img {
            transform: scale(0.9);
            box-shadow: 0 0 5px #333;
            z-index: -1;
            opacity: 1;
        }
</style>

<h2>Test Places</h2>

@{
    var index = 0;
}

@using (Html.BeginForm("SaveTest", "PlanTrip", FormMethod.Post))
{

    for (int i = 0; i < Model.Places.Count; i++)
    {

        <input type="checkbox" id="cb@(index +1)" />
        <label for="cb@(index +1)">
            <img src="~/Images/Places/@Model.Places[i].Image" />
            <br />
            <span>@Model.Places[i].Name</span>
        </label>

        index++;
    }
    <button type="submit">Submit</button>
}
