﻿@model ETourGuide.ViewModels.AddEventViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                @using (Html.BeginForm("Save", "Events", FormMethod.Post, new { @class = "add-event-form", enctype = "multipart/form-data" }))
                {
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Add an Event</h3>
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-address-book"></i></span>
                                </div>
                                @Html.TextBoxFor(h => h.Event.Name, new { type = "text", @class = "form-control", placeholder = "Event Title" })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-newspaper"></i></span>
                                </div>
                                @Html.DropDownListFor(h => h.EventTypesId, new SelectList(Model.EventTypes, "Id", "Type"), "Select Event Type", new { @class = "form-control select2" })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-newspaper"></i></span>
                                </div>
                                @Html.DropDownListFor(h => h.PlacesId, new SelectList(Model.Places, "Id", "Name"), "Select Place of Event", new { @class = "form-control select2" })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-newspaper"></i></span>
                                </div>
                                @Html.TextBoxFor(h => h.Event.Days, new { type = "number", @class = "form-control", placeholder = "No. of Days" })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-newspaper"></i></span>
                                </div>
                                @Html.TextBoxFor(h => h.Event.PerHead, new { type = "number", @class = "form-control", placeholder = "per head budget eg. 7000" })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-newspaper"></i></span>
                                </div>
                                @Html.TextBoxFor(h => h.Event.Date, new { type = "date", @class = "form-control", placeholder = "Description" })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-image"></i></span>
                                </div>
                                @Html.TextBoxFor(h => h.Event.Image, new { type = "file", @class = "form-control", placeholder = "Upload image" })
                            </div>
                            <div class="input-group mb-3">

                                @Html.TextAreaFor(h => h.Event.Description, new { rows = "4", @class = "form-control", placeholder = "Description" })
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                    </div>
                }
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->

        </div>
        <!--/.col (left) -->

    </div>
</section>