﻿@model ETourGuide.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="container body-content">

    <h2 style="text-align:center" class="view-titles">@ViewBag.Title</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal registerFrom", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="col-md-6" style="padding:0;padding-right:2px">
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = " control-label" })
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })

            </div>
        </div>
        <div class="col-md-6" style="padding:0;padding-left:2px">
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = " control-label" })
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = " control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = " control-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = " control-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Phone, new { @class = " control-label" })
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })

        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary pull-right" value="Register" />
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
