﻿@model ETourGuide.ViewModels.PaymentViewModel

@{
    ViewBag.Title = "Select";
}

<div class="bookingWrapper">
    @using (Html.BeginForm("Save", "Events", FormMethod.Post, new { @class = "collect-details-form", enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="summaryWrapper">
                <h3 style="margin:0 10px 10px 0px;" class="form-titles">Payment Confirmation</h3>

                <div class="row">
                    <div class="col-md-12">
                        <h4>Actual Payment: @Model.TotalBill</h4>
                        <h4>Payment to Pay in Advance(20%): @((Model.TotalBill * 0.2))</h4>
                        <div class="ver_gap"></div>
                        @switch (Model.PaymentMethod)
                        {
                            case "Jazz-Cash":
                                <div>
                                    <h4>Jazz Cash Account Number</h4>
                                    @Html.TextBoxFor(x => x.MobileNumber, new { @class = "form-control", placeholder = "Your Mobile Number" })
                                </div>
                                break;
                            case "Credit-Card":
                                <div>
                                    <h4>Credit Card Number</h4>
                                    @Html.TextBoxFor(x => x.CardNumber, new { @class = "form-control", placeholder = "Bank Account Number" })
                                    <br />
                                    @Html.TextBoxFor(x => x.CVC, new { @class = "form-control", placeholder = "3 digit CVC" })
                                </div>
                                break;
                            case "Easy-paisa":
                                <div>
                                    <h4>Easypaisa Account Number</h4>
                                    @Html.TextBoxFor(x => x.MobileNumber, new { @class = "form-control", placeholder = "Your Mobile Number" })
                                </div>
                                break;
                            default:
                                break;
                        }
                    </div>
                    <div class="col-md-12">
                        @Html.HiddenFor(x => x.EventId)
                        @Html.HiddenFor(x => x.TotalBill)
                        @Html.HiddenFor(x => x.Persons)
                        @Html.HiddenFor(x => x.PaymentMethod)
                        <div class="ver_gap"></div>
                        <button class="btn btn-success pull-right">Submit Booking</button>
                    </div>
                </div>

            </div>

        </div>

    }
</div>