﻿@model ETourGuide.ViewModels.PaymentInfoViewModel
@{
    ViewBag.Title = "PaymentInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
   
    <div style="        width: 50%;
        margin: auto;
        background: #fff;
        -moz-box-shadow: 0 0 5px #dadada;
        -webkit-box-shadow: 0 0 5px #dadada;
        box-shadow: 0 0 5px #dadada;
        padding:1% 3%;
">
        <h2>Payment</h2>
        <h4>You will have to pay 25% of the total amount due in advance to place your booking.</h4>
        <p>Total Amount Due: @Model.Cart.Bill</p>
        <p>Amount to pay (25%): @(Model.Cart.Bill * 0.25)</p>


        <div class="ver_gap"></div>

        @using (@Html.BeginForm("PaymentCharge", "Payment", FormMethod.Post, new { id = "payment-form" }))
        {
            <div class="payment-form-wrapper">
                <div class="form-row">
                    <label for="card-element">
                        Credit or debit card
                    </label>
                    <div id="card-element">
                        <!-- A Stripe Element will be inserted here. -->
                    </div>

                    <!-- Used to display form errors. -->
                    <div id="card-errors" role="alert"></div>
                </div>
                <div class="ver_gap"></div>
                <button class="btn btn-primary"><span class="glyphicon glyphicon-credit-card"></span>  Submit Payment</button>
            </div>
        }
    </div>
</div>
@section Scripts{

    <script>
        // Create a Stripe client.
        var stripe = Stripe('pk_test_0GoAnN2eYfSVmcCc8xSzKLgz003PrzsEnO');

        // Create an instance of Elements.
        var elements = stripe.elements();

        var style = {
            base: {
                color: '#32325d',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', { style: style });

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        // Handle real-time validation errors from the card Element.
        card.addEventListener('change', function (event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        // Handle form submission.
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            stripe.createToken(card).then(function (result) {
                if (result.error) {
                    // Inform the user if there was an error.
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server.
                    stripeTokenHandler(result.token);
                }
            });
        });

        // Submit the form with the token ID.
        function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'StripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            // Submit the form
            form.submit();
        }
    </script>


}