﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewBag.Title - Syahat.PK</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://js.stripe.com/v3/"></script>



</head>
<body>
    @if (Request.UrlReferrer != null)
    {
        <a style="position:fixed;top:20px;left:10px;z-index:9999;color:#fff" onclick="history.go(-1); return false;" href="#">Go Back</a>
    }
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("Syahat.com", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Places", "Index", "Provinces")</li>
                    <li>@Html.ActionLink("Events", "Index", "Events")</li>
                    <li>@Html.ActionLink("Hotels", "Index", "Hotels")</li>
                    <li>@Html.ActionLink("Bookings Hisotry", "History", "TripBooking")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="">
        @RenderBody()

        <footer class="footer-distributed">
            <div class="footer-left">
                <h3 style="color:#fff;">Syahat.PK</h3>
                <p class="footer-links">
                    <a href="/Home">Home</a>
                    ·
                    <a href="/Provinces">Explore</a>
                    ·
                    <a href="/Home/Contact">Contact</a>
                </p>
                <p class="footer-company-name">SyahatPK - Explore Pakistan &copy; 2019</p>
            </div>
            <div class="footer-center">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>25 Main Boulevard, Gulberg III</span> Lahore, Pakistan</p>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <p>+92 300 123456</p>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:support@veghub.com">support@syahatpk.com</a></p>
                </div>
            </div>
            <div class="footer-right">
                @*<p class="footer-company-about">
                        <span>About the company</span>
                        VegHub is a customer oriented veggies delivery system. We provide best of quality and quantity measures to our customer, keeping hygine and health at priority.
                    </p>*@
                <h3>Be a part of Syahat.PK</h3>
                @*<button class="btn-block btnFooter">Register yourself</button>*@
                <button class="btn-block btnFooter"> @Html.ActionLink("Register yourself", "Register", new { controller = "Account" }, new { style = "color:#fff" }) </button>
                <div class="footer-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </footer>


        <footer class="footer-bottom">
            <p>All Rights Reserved &reg;. Copyrights Syahat.pk 2019 &copy;</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)




    <script src="~/Scripts/underscore.js"></script>


    <style>
        .popover {
            width: 250px;
        }

        .popoverList li {
            display: inline-block;
            margin-left: -40px;
        }
    </style>

    <script type="text/x-template" id="notifications-template">


        <ul class="popoverList">

            <%
            _.each(notifications , function(notification){%>

            <li><%= notification %></li>
            <%})%>
        </ul>
    </script>

    <script>
        var count1 = 0;
        $(document).ready(function () {

            $.getJSON("/Notification/GetNewNotifications", function (data) {
                if (data.length == 0)
                    return;

                $(".js-notifications-count").text(data.length).removeClass("hide");

                $(".notification").popover({
                    html: true,
                    title: "Notifications",
                    container: 'body',
                    content:
                        function () {
                            var compiled = _.template($("#notifications-template").html());
                            var html = compiled({ notifications: data });
                            return html;
                        },

                    placement: "bottom"

                }).on("shown.bs.popover", function () {
                    $.post("/Notification/MarkAsRead")
                        .done(function () {
                            $(".js-notifications-count")
                                .text("")
                                .addclass("hide");

                        });
                });

            });

        });
    </script>





</body>
</html>
