﻿@using Microsoft.AspNet.Identity
@using ETourGuide.Models

@{
    var _context = new ApplicationDbContext();
    var userId = User.Identity.GetUserId();
    var userCartId = _context.Carts.Where(x => x.UserId == userId).Select(x => x.Id).SingleOrDefault();
    var cartPlaces = _context.CartPlaces.Where(x => x.CartId == userCartId).ToList();

    var placesToAppend = new List<Place>();

    foreach (var item in cartPlaces)
    {
        placesToAppend.Add(_context.Places.Where(x => x.Id == item.PlaceId).SingleOrDefault());
    }

}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span style="font-size:24px;color:#fff" class="glyphicon glyphicon-shopping-cart"></span></a>
                    <ul class="dropdown-menu" style="width:250px;padding-top:15px;">
                        @{
                            if (placesToAppend.Count > 0)
                            {
                                foreach (var item in placesToAppend)
                                {
                                    <li class="container-fluid" style="display: flex;align-items: center;color: #333">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img style="width:100%;height:45px;" src="~/Images/Places/@item.Image" class="img-thumbnail" />
                                            </div>
                                            <div class="col-md-8">
                                                <span href="#">@item.Name</span>
                                            </div>
                                        </div>
                                    </li>
                                    <hr />
                                }
                                <div style="text-align:center">
                                    @Html.ActionLink("View Cart", "Summary", "TripBooking", null, new { @class = "btn btn-sm btn-primary" })
                                </div>
                            }
                            else
                            {
                                <h4 style="text-align:center">No places added </h4>
                            }
                        }
                    </ul>
                </li>
                <li style="position:relative">
                    <a href="#">
                        <i style="color:#fff;font-size:24px;" data-toggle="popover" class="notification glyphicon glyphicon-globe"></i>
                        <span class="badge js-notifications-count hide"
                              style="position:absolute ; top:8px; right:5px ; background:#a80808">
                        </span>
                    </a>
                </li>

                <li>
                    @Html.ActionLink(User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn-sm", style = "color:#fff" })
                </li>
                <li style="margin:0 10px;"><a href="javascript:document.getElementById('logoutForm').submit()"><span style="color:#fff;" class="btn-sm btn-danger">Log off</span></a></li>
            </ul>
        </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

