﻿@model ETourGuide.Models.Transport

@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                @using (Html.BeginForm("Save", "Transports", FormMethod.Post, new { @class = "add-place-form", enctype = "multipart/form-data" }))
                {
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Add Transport</h3>
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-address-book"></i></span>
                                </div>
                                @Html.TextBoxFor(p => p.Name, new { type = "text", @class = "form-control", placeholder = "Vehicle Name" })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-newspaper"></i></span>
                                </div>
                                @Html.TextBoxFor(p => p.Model, new { type = "text", @class = "form-control", placeholder = "Model" })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-newspaper"></i></span>
                                </div>
                                @Html.TextBoxFor(p => p.Type, new { type = "text", @class = "form-control", placeholder = "Type e.g. HIACE, Car, Jeep" })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-image"></i></span>
                                </div>
                                @Html.TextBoxFor(p => p.Capacity, new { type = "number", @class = "form-control", placeholder = "No. of seats" })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-map-marker"></i></span>
                                </div>
                                @Html.TextBoxFor(p => p.Image, new { type = "file", @class = "form-control", placeholder = "Upload Vehicle Image" })
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                    </div>
                }
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->

        </div>
        <!--/.col (left) -->

    </div>
</section>
