﻿@model ETourGuide.ViewModels.QuestionnaireViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{ 
    foreach (var question in Model.Questions)
    {
        <p>@question.Statement</p>
        foreach (var answer in Model.Answers.Where(a=>a.QuestionId == question.Id))
        {
            <p>@answer.Statement</p>
        }
    }
}
