﻿@model ETourGuide.ViewModels.BookEventViewModel


<div class="bookingWrapper container body-content">
    @using (Html.BeginForm("Select", "Payment", FormMethod.Post, new { @class = "collect-details-form", enctype = "multipart/form-data" }))
    {
        <div class="container-fluid">
            <div class="row">
                <div class="summaryWrapper">
                    <h3 style="margin:0 10px 10px 0px;" class="form-titles">Event Booking Confirmation</h3>

                    <div class="row">
                        <div class="col-md-5">
                            <h4>Event Name</h4>
                        </div>
                        <div class="col-md-7">
                            <h4>@Model.Event.Name</h4>
                        </div>
                        <br />
                        <br />
                        <div class="col-md-5">
                            <h5>Date</h5>
                        </div>
                        <div class="col-md-7">
                            <h5>@Model.Event.Date.ToShortDateString()</h5>
                        </div>
                        <br />
                        <br />
                        <div class="col-md-5">
                            <h5>No. of Persons</h5>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Persons, new { @class = "form-control", style = "width:100px", type = "number" })
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="col-md-5">
                            <h5>Payment Method</h5>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                @Html.RadioButtonFor(m => m.PaymentMethod, "Credit-Card", new { Name = "PaymentMethod", value = "Credit-Card", selected=true }) Credit Card
                                @Html.RadioButtonFor(m => m.PaymentMethod, "Jazz-Cash", new { Name = "PaymentMethod", value = "Jazz-Cash" }) Jazz Cash
                                @Html.RadioButtonFor(m => m.PaymentMethod, "Easy-paisa", new { Name = "PaymentMethod", value = "Easy-Paisa" }) Easypaisa
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="container-fluid">
                            <div class="row bill-row">
                                <div class="col-md-5">
                                    <h3>SubTotal</h3>
                                </div>
                                <div class="col-md-7">
                                    <h3 id="subtotal"></h3>
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(x => x.TotalBill)
                        @Html.HiddenFor(x => x.EventId)
                        <div class="col-md-12">

                            <div class="ver_gap"></div>
                            <button class="btn btn-success pull-right">Confirm Details</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    }
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Persons').val(1);
            generateBill();
            $('#Persons').on('input', function () {
                $('#personsNumber').text(parseInt($('#Persons').val()));
                generateBill();
            });

            function generateBill() {
                var total = (parseInt($('#Persons').val()) * @Model.Event.PerHead);
                $('#subtotal').text(total);
                $('#TotalBill').val(total);
            }

        })
    </script>
}