﻿@model ETourGuide.Models.Event

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="eventsWrapper">
    @*<div class="page-title">
        <h2 class="view-titles">Upcoming Events</h2>
    </div>*@
    <div class="ver_gap"></div>
    <div class="row">
        <div class="image-tiles-wrapper">
            <div class="col-md-12">

                <div class="image-tile">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="image">
                                <img src="~/Images/Events/@Model.Image" style="width:100%" alt="@Model.Name" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h2> @Model.Name</h2>
                            <div class="ver_gap"></div>

                            <div class="description">
                                <h4> <span class="glyphicon glyphicon-calendar"></span> Date: @Model.Date.ToString("dd MMMM yyyy")</h4>
                            </div>
                            <div class="title">
                                <h3>@Model.Name | @Model.Days days Trip</h3>
                            </div>
                            <h4>Rs. @Model.PerHead /- per head</h4>
                            <div class="ver_gap"></div>
                            <p>@Model.Description</p>
                            <div class="ver_gap"></div>
                            <div class="ver_gap"></div>

                            <div class="bookingButtons">
                                @Html.ActionLink("Book this Event", "Book", new { id = Model.Id }, new { @class = "btn btn-warning" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
