﻿@model IEnumerable<ETourGuide.Models.Event>

@{
    ViewBag.Title = "Index";
}


<div class="eventsWrapper body-content">
    <div class="page-title">
        <h2 class="view-titles view-titles-image">Upcoming Events</h2>
    </div>
    <div class="container">
        <div>
            <h3 class="pull-left">Want to plan a customized trip ?</h3>
            @Html.ActionLink("Plan a Tour", "Index", new { controller = "PlanTrip", area = "" }, new { @class = "btn btn-warning pull-right btn-lg", style = "display:inline-block" })
            <div style="clear:both"></div>
        </div>
        <div class="ver_gap"></div>
        <section class="exploreCategories">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="exploreImageWrapper">
                            <img src="~/Images/Explore/Culture/pakistan-culture.jpg" class="img-responsive" />
                        </div>
                        @Html.ActionLink("Cultural Events", "Cultures", "Events", null, new { @class = "btn btn-primary" })
                    </div>
                    <div class="col-md-4">
                        <div class="exploreImageWrapper">
                            <img src="~/Images/Explore/multan-the-city-of-saints-3.jpg" class="img-responsive" />
                        </div>
                        @Html.ActionLink("Religious Events", "Religious", "Events", null, new { @class = "btn  btn-primary" })
                    </div>

                    <div class="col-md-4">
                        <div class="exploreImageWrapper">
                            <img src="~/Images/Explore/Culture/culture.jpg" class="img-responsive" />
                        </div>
                        @Html.ActionLink("Local Events", "Local", "Events", null, new { @class = "btn  btn-primary" })
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
