﻿@model IEnumerable<ETourGuide.Models.Event>

@{
    /**/

    ViewBag.Title = "Index";
}


<div class="eventsWrapper container body-content">
    <div class="page-title">
        <h2 class="view-titles">Upcoming Religious Events</h2>
    </div>
    <div>
        <h3 class="pull-left">Want to plan a customized trip ?</h3>
        @Html.ActionLink("Plan a Tour", "Index", new { controller = "PlanTrip", area = "" }, new { @class = "btn btn-warning pull-right btn-lg", style = "display:inline-block" })
        <div style="clear:both"></div>
    </div>
    <div class="ver_gap"></div>
    <div class="row">
        <div class="image-tiles-wrapper">
            @{
                if (Model.Count() < 1)
                {
                    <div class="col-md-12">
                        <h2 style="text-align:center;padding:50px">No Upcoming Local Events.</h2>
                    </div>
                }
                foreach (var item in Model)
                {
                    <div class="col-md-12">

                        <div class="image-tile">
                            <div class="row">

                                <div class="col-md-8">
                                    <div class="image">
                                        <img src="~/Images/Events/@item.Image" style="width:100%" alt="@item.Name" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="description">
                                        <h4>Date: @item.Date.ToString("dd MMMM yyyy")</h4>
                                    </div>
                                    <div class="title">
                                        <h3>@item.Name | @item.Days days Trip</h3>
                                    </div>
                                    <div class="ver_gap"></div>
                                    <h4>@item.PerHead /- per head</h4>
                                    <div class="ver_gap"></div>
                                    <div class="bookingButtons">
                                        @Html.ActionLink("Book this Event", "Book", new { id = item.Id }, new { @class = "btn btn-warning" })
                                        @Html.ActionLink("View Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
