﻿
@{
    ViewBag.Title = "Save";
}


<div class="thanku">
    <div class="message">
        <h2> Thank you for chosing Syahat.PK. We will do our best to make this trip a rememberable one. </h2>
        <h3>We'll Keep you notified.</h3>
    </div>
</div>