﻿body {
    min-height: 100%;
    height: 100%;
}

html {
    min-height: 100%;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    height: 100%;
    padding-top: 70px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1, h2 {
    font-family: "Roboto", sans-serif;
}

/*BOOTSTRAP OVERRIDES*/

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn:focus, .btn:hover {
    text-decoration: none;
}

.navbar-default {
    background-color: rgba(0,0,0,0.7);
    border-color: transparent !important;
    padding: 6px 0;
}

.btn-success {
    background-color: #3d783a;
    border-color: #3d783a;
    border-radius: 0;
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}

.provincesWrapper .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #204d74;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #fff;
}

.navbar-default .navbar-nav > li > .btn-danger:hover, .navbar-default .navbar-nav > li > .btn-danger:focus {
    color: #fff;
    background-color: #d43f3a;
}


.navbar-default .navbar-nav > li > .btn-primary:hover, .navbar-default .navbar-nav > li > .btn-primary:focus {
    color: #fff;
    background-color: #204d74;
}


.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color:#fff;
}



.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background-color:#666;
}
/* *************************************** */
.footer-bottom {
    position: relative;
    bottom: 0;
    text-align: center;
    background: #222;
    color: #fff;
    padding: 10px 0;
    width: 100%;
}

.homeHeader {
    background-image: url(../Images/header.jpg);
    background-size: 100%;
    padding-top: 10vh;
    background-position: center;
    overflow: hidden;
    height: 100vh;
    position: relative;
    -moz-box-shadow: 0 0 7px #dadada;
    -webkit-box-shadow: 0 0 7px #dadada;
    box-shadow: 0 0 7px #dadada;
    margin-bottom: 15px;
}

    .homeHeader h1 {
        color: #fff;
        font-size: 50px;
        opacity: 1;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
    }

.hor_gap {
    padding: 0 10px;
}

.ver_gap {
    padding: 10px 0;
}


/* ADD PLACE STYLING START*/
.add-place-form {
    width: 50%;
    margin: 50px auto;
}

    .add-place-form input {
        max-width: 100%;
    }

    .add-place-form select {
        max-width: 100%;
    }


    .add-place-form .input-group-prepend {
        width: 44px;
        height: 38px;
    }


        .add-place-form .input-group-prepend span {
            width: 100%;
            text-align: center;
        }


/* ---END---*/




/* ADD HOTEL STYLING START*/

.add-hotel-form {
    width: 50%;
    margin: 50px auto;
}

    .add-hotel-form input {
        max-width: 100%;
    }


    .add-hotel-form select {
        max-width: 100%;
    }


    .add-hotel-form .input-group-prepend {
        width: 44px;
        height: 38px;
    }


        .add-hotel-form .input-group-prepend span {
            width: 100%;
            text-align: center;
        }


/* ---END---*/


/*ADD EVENT FORM*/


.add-event-form {
    width: 50%;
    margin: 50px auto;
}

    .add-event-form input {
        max-width: 100%;
    }


    .add-event-form select {
        max-width: 100%;
    }

    .add-event-form textarea {
        max-width: 100%;
        resize: none;
    }

    .add-event-form .input-group-prepend {
        width: 44px;
        height: 38px;
    }


        .add-event-form .input-group-prepend span {
            width: 100%;
            text-align: center;
        }
/* **************************** */

/*IMAGE DETAIL*/

.imageDetailWrapper {
    -moz-box-shadow: 0 0 10px #dadada;
    -webkit-box-shadow: 0 0 10px #dadada;
    box-shadow: 0 0 10px #dadada;
    padding: 2%;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.image-tiles-wrapper .image-tile {
    padding: 5px 15px 15px 15px;
    margin-bottom: 15px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 0 0 2px #bbb;
    -webkit-box-shadow: 0 0 2px #bbb;
    box-shadow: 0 0 6px #bbb;
    background: #fff;
}


.image-tiles-wrapper .image-tile:hover {
    -moz-box-shadow: 0 0 12px #aaa;
    -webkit-box-shadow: 0 0 12px #aaa;
    box-shadow: 0 0 12px #aaa;
    cursor: pointer;
    transition: 0.3s;
    background:#fff;
}


    .image-tiles-wrapper .image-tile .image {
        height: 100px;
        overflow: hidden;
    }


        .image-tiles-wrapper .image-tile .image img {
            object-fit: cover;
        }




/*LOGIN STYLES*/
#loginForm, .registerFrom {
    width: 40%;
    padding: 2%;
    -moz-box-shadow: 0 0 5px #dadada;
    -webkit-box-shadow: 0 0 5px #dadada;
    box-shadow: 0 0 5px #dadada;
    margin: 20px auto;
}

.registerFrom {
    width: 35%;
}

    .registerFrom .form-group {
        margin: 10px 0;
    }

    #loginForm input, .registerFrom input {
        max-width: 100%;
    }


.placesWrapper {
    margin: 10px auto;

}

/*Questionnaire Styles*/

.questionWrapper {
    -moz-box-shadow: 0 0 10px #dadada;
    -webkit-box-shadow: 0 0 10px #dadada;
    box-shadow: 0 0 10px #dadada;
    padding: 2%;
    margin: 10px auto;
}

    .questionWrapper h4, .questionWrapper h2 {
        margin: 0 10px 20px 0px;
    }

.questionnaireAdminWrapper {
    background: #fff;
    padding: 2%;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 0 0 10px #dadada;
    -webkit-box-shadow: 0 0 10px #dadada;
    box-shadow: 0 0 10px #dadada;
}

    .questionnaireAdminWrapper h2 {
        margin-bottom: 15px;
    }


    .questionnaireAdminWrapper li {
        opacity: 0.8;
    }


.collect-details-form .form-group {
    clear: both;
}

.summaryWrapper .col-md-5 {
    font-weight: bold;
}


/*HOME PAGE STYLING*/

.exploreCategories {
}

    .exploreCategories h1 {
        padding: 2%;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }

    .exploreCategories h4 {
        text-align: center;
        padding: 2%;
    }

    .exploreCategories img {
        width: 100%;
    }

    .exploreCategories .container {
        background: transparent;
    }

.exploreImageWrapper {
    overflow: hidden;
    padding: 3%;
    -moz-box-shadow: 0 0 7px #dadada;
    -webkit-box-shadow: 0 0 7px #dadada;
    box-shadow: 0 0 7px #dadada;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.exploreCategories a {
    margin: 15px auto;
    /*background-color: #3d783a;
    border-color: #3d783a;*/
    display: block;
    width: 100%;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.provincesWrapper {
    margin: 20px auto;
    margin-top:0;
}

.provincesWrapper .nav-tabs {
    background: #337ab7;
    color: #fff;
    padding: 0 1%;
}


.provincesWrapper .nav-tabs a {
    color: #fff;
}


.provincesWrapper .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #fff;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.provincesWrapper .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #fff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #333;
}


.provincesWrapper .tab-content {
    padding: 2%;
    background: #fff;
}

.provincesWrapper .image-tile img {
    width: 100%;
}

.provincesWrapper a {
    margin: 10px auto;
    display: block;
}

.eventsWrapper {
    position: relative;
}

.eventsWrapper .image-tiles-wrapper .image-tile {
    padding: 15px;
    margin-bottom: 15px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 0 0 5px #cacaca;
    -webkit-box-shadow: 0 0 5px #cacaca;
    box-shadow: 0 0 5px #cacaca;
    background: #fff;
}


.eventsWrapper .image-tiles-wrapper .image-tile:hover {
    -moz-box-shadow: 0 0 10px #cacaca;
    -webkit-box-shadow: 0 0 10px #cacaca;
    box-shadow: 0 0 10px #cacaca;
    cursor: pointer;
    transition: 0.3s;
}


.eventsWrapper .image-tiles-wrapper .image-tile .image {
    height: 250px !important;
    overflow: hidden;
}


.image-tiles-wrapper .image-tile .image img {
    object-fit: cover;
    height: 250px !important;
    width: 100%;
}

.eventsWrapper .col-md-4 {
    height: 250px;
}

.eventsWrapper .bookingButtons {
    position: absolute;
    bottom: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

    .eventsWrapper .bookingButtons button {
        width: 40%;
    }

.bookingWrapper {
    padding: 2%;
}

    .bookingWrapper .summaryWrapper {
        -moz-box-shadow: 0 0 10px #dadada;
        -webkit-box-shadow: 0 0 10px #dadada;
        box-shadow: 0 0 10px #dadada;
        padding: 2%;
        width: 50%;
        margin: auto;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
    }


.thanku .message {
    width: 50%;
    background: #444;
    color: #fff;
    padding: 2%;
    margin: 50px auto;
}


.list-table {
    background: #fff;
}

.hide {
    visibility:hidden;
}

.provincesWrapper .image-tile h3 {
    font-weight: 700;
    font-size:20px;
}

.view-titles {
    text-align: center;
    padding: 1% 0;
    margin-top: 2px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
    background: #ffc107;
    -moz-box-shadow: 0 0 10px #dadada;
    -webkit-box-shadow: 0 0 10px #dadada;
    box-shadow: 0 0 10px #dadada;
    text-transform: uppercase;
    text-shadow: 0px 2px 5px #000;
}

.provincesWrapper .view-titles-image {
    padding: 7% 0;
    background-image: url('https://media2.trover.com/T/5c047ccca9b7b10816008cb0/fixedw_large_4x.jpg');
    background-size: cover;
    background-position: center;
    text-shadow: 2px 3px 5px #000;
    color:#fff;
}
.eventsWrapper .view-titles-image {
    padding: 7% 0;
    background-image: url('https://ultramusicfestival.com/wp-content/uploads/2019/04/miami-gallery-2019-8-1600x900.jpg');
    background-size: cover;
    background-position: center;
    text-shadow: 2px 3px 5px #000;
    color: #fff;
}

.navtabsWrapper {
    -moz-box-shadow: 0 0 7px #dadada;
    -webkit-box-shadow: 0 0 7px #dadada;
    box-shadow: 0 0 7px #dadada;
}


.form-titles {
    text-align: center;
    -moz-box-shadow: 0px 0 5px #ddd;
    -webkit-box-shadow: 0px 0 5px #ddd;
    box-shadow: 0px 0px 5px #ddd;
    padding: 1%;
    background: #3d783a;
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.bill-row {
    background-color: #fff;
    color: #3d783a;
    -moz-box-shadow: 0 0 2px #dadada;
    -webkit-box-shadow: 0 0 2px #dadada;
    box-shadow: 0 0 2px #dadada;
}




/*achivements section*/



.milestone-wrapper {
    background-image: url('../Images/milestone.jpg');
    background-attachment: fixed;
    padding: 2% 0%;
    color: #333;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    margin: 50px 0;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

    .milestone-wrapper h1 {
        padding: 0 0 1% 0;
        margin-top: 0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: uppercase;
        color: #e8a62d;
        text-align: center;
    }

.milestone {
    font-size: 60px;
    color: #e8a62d;
    text-align: center;
}

    .milestone span {
        font-size: 18px;
        display: block;
    }




/*TESTIMONIAL*/

.carousel h2 {
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: relative;
    margin: 25px 0 50px;
}

    .carousel h2::after {
        content: "";
        width: 100px;
        position: absolute;
        margin: 0 auto;
        height: 3px;
        background: #ffdc12;
        left: 0;
        right: 0;
        bottom: -10px;
    }

.carousel {
    width: 650px;
    margin: 0 auto;
    padding-bottom: 50px;
}

    .carousel .item {
        color: #999;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        min-height: 340px;
    }

        .carousel .item a {
            color: #eb7245;
        }

    .carousel .img-box {
        width: 145px;
        height: 145px;
        margin: 0 auto;
        border-radius: 50%;
    }

        .carousel .img-box img {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 50%;
        }

    .carousel .testimonial {
        padding: 30px 0 10px;
    }

    .carousel .overview {
        text-align: center;
        padding-bottom: 5px;
    }

        .carousel .overview b {
            color: #333;
            font-size: 15px;
            text-transform: uppercase;
            display: block;
            padding-bottom: 5px;
        }

    .carousel .star-rating i {
        font-size: 18px;
        color: #ffdc12;
    }

    .carousel .carousel-control {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #999;
        text-shadow: none;
        top: 4px;
    }

.carousel-control i {
    font-size: 20px;
    margin-right: 2px;
}

.carousel-control.left {
    left: auto;
    right: 40px;
}

.carousel-control.right i {
    margin-right: -2px;
}

.carousel .carousel-indicators {
    bottom: 15px;
}

.carousel-indicators li, .carousel-indicators li.active {
    width: 11px;
    height: 11px;
    margin: 1px 5px;
    border-radius: 50%;
}

.carousel-indicators li {
    background: #e2e2e2;
    border-color: transparent;
}

    .carousel-indicators li.active {
        border: none;
        background: #888;
    }




/*#region FOOTER HOME PAGE */

.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 25px 50px;
    clear: both;
    margin-top: 30px;
}

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: top;
    }

    /* Footer left */

    .footer-distributed .footer-left {
        width: 40%;
    }

    /* The company logo */

    .footer-distributed h3 {
        color: #ffffff;
        font: normal 36px 'Cookie', cursive;
        margin: 0;
    }

        .footer-distributed h3 span {
            color: #5383d3;
        }

    /* Footer links */

    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 20px 0 12px;
        padding: 0;
    }

        .footer-distributed .footer-links a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
        }

    .footer-distributed .footer-company-name {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }

    /* Footer Center */

    .footer-distributed .footer-center {
        width: 35%;
    }

        .footer-distributed .footer-center i {
            background-color: #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }

            .footer-distributed .footer-center i.fa-envelope {
                font-size: 17px;
                line-height: 38px;
            }

        .footer-distributed .footer-center p {
            display: inline-block;
            color: #ffffff;
            vertical-align: middle;
            margin: 0;
        }

            .footer-distributed .footer-center p span {
                display: block;
                font-weight: normal;
                font-size: 14px;
                line-height: 2;
            }

            .footer-distributed .footer-center p a {
                color: #5383d3;
                text-decoration: none;
                ;
            }


    /* Footer Right */

    .footer-distributed .footer-right {
        width: 20%;
    }

    .footer-distributed .footer-company-about {
        line-height: 20px;
        color: #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }

        .footer-distributed .footer-company-about span {
            display: block;
            color: #ffffff;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
        }

    .footer-distributed .footer-icons {
        margin-top: 25px;
    }

        .footer-distributed .footer-icons a {
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: #33383b;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-right: 3px;
            margin-bottom: 5px;
        }

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }

            .footer-distributed .footer-center i {
                margin-left: 0;
            }
}


.btnFooter {
    background: #ed9b05;
    color: #fff;
    padding: 8px;
    height: 45px;
    border: none;
    margin-top: 8px;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)
}


/*#endregion */





/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}


/*TRIP SUMMARY WRAPPER*/

.tripSummaryWrapper {
    -moz-box-shadow: 0 0 7px #dadada;
    -webkit-box-shadow: 0 0 7px #dadada;
    box-shadow: 0 0 7px #dadada;
    padding: 2%;
    margin-bottom: 50px;
}

    .tripSummaryWrapper .row {
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .tripSummaryWrapper .summary-row {
    }
