﻿@model ETourGuide.ViewModels.PlacesDetailViewModel

@{
    ViewBag.Title = "Details";
}


<div class="container body-content">
    <h2>
        @Model.Place.Name@{
            if ((ViewBag.isPlanView != null && ViewBag.isPlanView) || ViewBag.isPlanView == null)
            {
                @Html.ActionLink("Select this place", "AddSinglePlace", "Cart", new { controller = "Cart", Id = Model.Place.Id }, new { @class = "btn btn-success pull-right" })
            }
        }
    </h2>
    <div class="ver_gap"></div>

    <div class="imageDetailWrapper">
        <div class="row">
            <div class="col-md-4">
                <img src="~/Images/Places/@Model.Place.Image" style="width:100%" alt="Alternate Text" />
            </div>
            <div class="col-md-8">
                <h3>@Model.Place.Name.ToUpper()</h3>
                <h5>@Model.Place.Location</h5>
                <p>@Model.Place.Description</p>
                <hr />
                <h3>Some glimpses from this place</h3>
                <div class="container-fluid">
                    <div id="slider" class="flexslider">
                        <ul class="slides">
                            @for (int i = 0; i < Model.PlaceImages.Count(); i++)
                            {
                                <li>
                                    <img src="~/Images/Places/@Model.PlaceImages[i].Image" />
                                </li>
                            }
                            <!-- items mirrored twice, total of 12 -->
                        </ul>
                    </div>
                    <div id="carousel" class="flexslider">
                        <ul class="slides">
                            @for (int i = 0; i < Model.PlaceImages.Count(); i++)
                            {
                                <li>
                                    <img src="~/Images/Places/@Model.PlaceImages[i].Image" />
                                </li>
                            }
                            <!-- items mirrored twice, total of 12 -->
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>



<div class="ver_gap"></div>
<hr />
<div class="placesWrapper">
    <div class="container">
        <div class="page-title">
            <h4>Hotels Available in this Area</h4>
            <div class="ver_gap"></div>

        </div>
        @if (Model.Hotels.Count() > 0)
        {

            <div class="row">
                <div class="image-tiles-wrapper">
                    @{
                        foreach (var item in Model.Hotels)
                        {
                            <div class="col-md-3">
                                <div class="image-tile">
                                    <div class="title">
                                        <h4>@item.Name</h4>
                                    </div>
                                    <div class="image">
                                        <img src="~/Images/Hotels/@item.Image" style="width:100%" alt="@item.Name" />
                                    </div>
                                    <div class="location">
                                        <h6>@item.Location</h6>
                                    </div>
                                    <div>
                                        <h6>Available Rooms : @item.AvailableRooms</h6>
                                    </div>
                                    <div>
                                        <h6>Rent: @item.Rent</h6>
                                    </div>
                                    @Html.ActionLink("View Details", "Details", "Hotels", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

        }
        else
        {
            <small>No Hotels Available in this area</small>
        }
    </div>
</div>
@{
    if (ViewBag.isPlanView != null && ViewBag.isPlanView)
    {
        <div class="container">
            @Html.ActionLink("Select this place", "AddSinglePlace", new { controller = "Cart", Id = Model.Place.Id }, new { @class = "btn btn-success pull-right" })
        </div>
    }
}


@section Scripts {
    <script>
        $(document).ready(function () {
            // The slider being synced must be initialized first
            $('#carousel').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                itemWidth: 210,
                itemMargin: 5,
                asNavFor: '#slider'
            });

            $('#slider').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: true,
                slideshow: true,
                sync: "#carousel"
            });
        });
    </script>
}