﻿@model IEnumerable<ETourGuide.Models.Place>

<div class="placesWrapper">
    <div class="container">
        <div class="page-title">
            <h2>Places to select from</h2>
        </div>
        <div class="row">
            <div class="image-tiles-wrapper">
                @{
                    foreach (var item in Model)
                    {
                        <div class="col-md-3">
                            <div class="image-tile">
                                <div class="title">
                                    <h3>@item.Name</h3>
                                </div>
                                <div class="image">
                                    <img src="~/Images/Places/@item.Image" style="width:100%" alt="@item.Name" />
                                </div>
                                <div class="description">
                                    <h6>@item.Description</h6>
                                </div>
                                @Html.ActionLink("View Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
