﻿@model ETourGuide.ViewModels.ProvincesViewModel

@{
    ViewBag.Title = "Places";
}


<div class="body-content provincesWrapper">

    <h2 class="view-titles view-titles-image">Places we cover </h2>

    <div class="container">
        <div>
            <h3 class="pull-left">Want to plan a customized trip ?</h3>
            @Html.ActionLink("Plan a Tour", "Index", new { controller = "PlanTrip", area = "" }, new { @class = "btn btn-warning pull-right btn-lg", style = "display:inline-block" })
            <div style="clear:both"></div>
        </div>
        <div class="navtabsWrapper">
            <ul class="nav nav-tabs">
                @foreach (var item in Model.Provinces)
                {
                    if (Model.Provinces.IndexOf(item) == 0)
                    {
                        <li class="active"><a data-toggle="tab" href="#@item.Id">@item.Name</a></li>
                    }
                    else
                    {
                        <li class=""><a data-toggle="tab" href="#@item.Id">@item.Name</a></li>
                    }
                }
            </ul>

            <div class="tab-content">

                @foreach (var province in Model.Provinces)
                {

                    if (Model.Provinces.IndexOf(province) == 0)
                    {
                        <div id="@province.Id" class="tab-pane fade in active">

                            <div class="row">
                                <div class="image-tiles-wrapper">
                                    @{
                                        foreach (var item in Model.Places.Where(x => x.ProvinceId == province.Id))
                                        {
                                            <div class="col-md-3">
                                                <div class="image-tile">
                                                    <div class="title">
                                                        <h3>@item.Name</h3>
                                                    </div>
                                                    <div class="image">
                                                        <img src="~/Images/Places/@item.Image" style="width:100%" alt="@item.Name" />
                                                    </div>
                                                    <div class="description">
                                                        <h6>@item.Description.Substring(0, 50)</h6>
                                                    </div>
                                                    @Html.ActionLink("View Details", "Details", new { controller = "Places", id = item.Id }, new { @class = "btn btn-primary" })
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div id="@province.Id" class="tab-pane fade in">

                            <div class="row">
                                <div class="image-tiles-wrapper">
                                    @{
                                        foreach (var item in Model.Places.Where(x => x.ProvinceId == province.Id))
                                        {
                                            <div class="col-md-3">
                                                <div class="image-tile">
                                                    <div class="title">
                                                        <h3>@item.Name</h3>
                                                    </div>
                                                    <div class="image">
                                                        <img src="~/Images/Places/@item.Image" style="width:100%" alt="@item.Name" />
                                                    </div>
                                                    <div class="description">
                                                        <h6>@item.Description.Substring(0, 50)...</h6>
                                                    </div>
                                                    @Html.ActionLink("View Details", "Details", new { controller = "Places", id = item.Id }, new { @class = "btn btn-primary" })
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>

                        </div>
                    }
                }

            </div>

        </div>
    </div>
</div>