﻿@model IEnumerable<ETourGuide.Models.Transport>

@{
    ViewBag.Title = "Index";
}


<div class="placesWrapper body-content">
    <div class="container">
        <div class="page-title">
            <h2 class="view-titles">Select Transport for the trip</h2>
        </div>
        <div class="row">
            <div class="image-tiles-wrapper">
                @{
                    foreach (var item in Model)
                    {
                        <div class="col-md-3">
                            <div class="image-tile">
                                <div class="title">
                                    <h3>@item.Name</h3>
                                </div>
                                <div class="image">
                                    <img src="~/Images/Transport/@item.Image" style="width:100%" alt="@item.Name" />
                                </div>
                                <div class="description">
                                    <h6>Model: @item.Model</h6>
                                </div>
                                <div>
                                    <h6>Capacity: @item.Capacity</h6>
                                </div>
                                <div>
                                    @Html.ActionLink("Select this Vehicle", "SaveTransport", new { transportId=item.Id}, new { @class = "btn btn-block btn-primary"})
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>