﻿@model ETourGuide.ViewModels.CartChangeHotelViewModel

@{
    ViewBag.Title = "Hotels";
}


<div class="placesWrapper">
    <div class="page-title">
        <h2 class="view-titles">Hotels</h2>
    </div>
    <div class="row">
        <div class="image-tiles-wrapper">
            @Html.HiddenFor(x=> x.CartPlaceId)
            @{
                foreach (var item in Model.Hotels)
                {
                    <div class="col-md-3">
                        <div class="image-tile">
                            <div class="title">
                                <h4>@item.Name</h4>
                            </div>
                            <div class="image">
                                <img src="~/Images/Hotels/@item.Image" style="width:100%" alt="@item.Name" />
                            </div>
                            <div class="location">
                                <h6>@item.Location</h6>
                            </div>
                            <div>
                                <h6>Available Rooms : @item.AvailableRooms</h6>
                            </div>
                            <div>
                                <h6>Rent: @item.Rent</h6>
                            </div>
                            <div style="text-align:center">
                                @Html.ActionLink("Select this Hotel", "SaveHotel", new { cartPlaceId = Model.CartPlaceId, hotelId=item.Id }, new { @class = "btn btn-success", style = "width:100%" })
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>