﻿@{
    ViewBag.Title = "Contact";
}

<div class="container body-content">
    <div style="padding:50px 0">
        <h2>@ViewBag.Title.</h2>

        <address>
            47-B,Gulberg-III<br />
            Lahore, Punjab, Pakistan 54000<br />
            <abbr title="Phone">P:</abbr>
            042-45234176
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@etourguide.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@etourguide.com</a>
        </address>
    </div>
</div>