﻿@using ETourGuide.Models
@{
    ViewBag.Title = "Home Page";
}

@{ 
    var _context = new ApplicationDbContext();
    var distanceTravelled = 0;
    var customersCount = _context.Users.Count() -1;
    var tripsCount = _context.TripBookings.Count() + _context.Bookings.Count();
    foreach (var item in _context.TripBookings.ToList())
    {
        distanceTravelled = distanceTravelled + item.DistanceTravelled;
    }
}

<div class="homeHeader">
    <div style="text-align:center;top:50%;left:50%;padding:1% 4%;transform: translate(-50%,-50%);position:absolute;width:50%;margin:auto">
        <h1 style="text-shadow:2px 3px 5px #000">Welcome to Pakistan</h1>
        <p style="color:#fff;font-size:18px; text-shadow: 2px 3px 5px #000;">
            Come and explore Pakistan with us. It would be fun !

        </p>
        @Html.ActionLink("Explore Pakistan", "Provinces", new { controller = "Explore" }, new { @class = "btn btn-warning btn-lg" })
        @Html.ActionLink("Plan a Tour", "Index", new { controller = "PlanTrip", area = "" }, new { @class = "btn btn-default btn-lg" })

    </div>
</div>

<div class="container">
    <section class="exploreCategories">
        <h1>EXPLORE WITH US</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="exploreImageWrapper">
                        <img src="~/Images/Explore/Culture/culture.jpg" class="img-responsive" />
                    </div>
                    @Html.ActionLink("Plan a Tour", "Index", new { controller = "PlanTrip", area = "" }, new { @class = "btn btn-primary" })
                </div>
                <div class="col-md-3">
                    <div class="exploreImageWrapper">
                        <img src="~/Images/Explore/Culture/pakistan-culture.jpg" class="img-responsive" />
                    </div>
                    @Html.ActionLink("Explore Cultural Events", "Cultures", "Events", null, new { @class = "btn btn-primary" })
                </div>
                <div class="col-md-3">
                    <div class="exploreImageWrapper">
                        <img src="~/Images/Explore/multan-the-city-of-saints-3.jpg" class="img-responsive" />
                    </div>
                    @Html.ActionLink("Explore Religious Events", "Religious", "Events", null, new { @class = "btn  btn-primary" })
                </div>

                <div class="col-md-3">
                    <div class="exploreImageWrapper">
                        <img src="~/Images/Explore/multan-the-city-of-saints-3.jpg" class="img-responsive" />
                    </div>
                    @Html.ActionLink("Explore Local Events", "Local", "Events", null, new { @class = "btn  btn-primary" })
                </div>
            </div>
        </div>
    </section>


    <div class="milestone-wrapper">
        <h1 class="center"> Our Achievements</h1>
        <div class="milestone-bg">
            <div class="container">
                <div class="milestone">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-map"></i>
                            <span style="font-size:64px;font-weight:bold;color:#fff" id="count1">0</span>
                            <span>Trips Organized</span>
                        </div>
                        <div class="col-xs-4">
                            <i class="fa fa-users"></i>
                            <span style="font-size:64px;font-weight:bold;color:#fff" id="count2">0</span>
                            <span>Happy Customers</span>
                        </div>
                        <div class="col-xs-4">
                            <i class="fa fa-road"></i>
                            <span style="font-size:64px;font-weight:bold;color:#fff" id="count3">0</span>
                            <span>Miles Travelled</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <h2>Testimonials</h2>
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="item carousel-item active">
                <div class="img-box"><img src="~/Content/images/avatar3.png" alt=""></div>
                <p class="testimonial">I have wonderful experience with Syahat.PK. I will be visiting more.</p>
                <p class="overview"><b>Ms. Ramsha</b>Seo Analyst at <a href="#">PakWheels.Com</a></p>
                <div class="star-rating">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
            </div>
            <div class="item carousel-item">
                <div class="img-box"><img src="~/Content/images/avatar2.png" alt=""></div>
                <p class="testimonial">Amazing experience. Everything was up to the mark. Enjoyed a lot.</p>
                <p class="overview"><b>Taliya Mansoor</b>Manager <a href="#">SOS Lahore</a></p>
                <div class="star-rating">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
            </div>
            <div class="item carousel-item">
                <div class="img-box"><img src="~/Content/images/avatar.png" alt=""></div>
                <p class="testimonial">I have wonderful experience with Syahat.PK. I will be visiting more.</p></p>
                <p class="overview"><b>Junaid Aslam</b>Supervisor <a href="#">SOS Lahore</a></p>
                <div class="star-rating">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>

@section Scripts{

    <script src="~/Scripts/countUp.js"></script>


    <script>
        var a = 0;
        $(window).scroll(function () {

            var oTop = $('.milestone').offset().top - window.innerHeight;
            if (a == 0 && $(window).scrollTop() > oTop) {

                var easingFn = function (t, b, c, d) {
                    var ts = (t /= d) * t;
                    var tc = ts * t;
                    return b + c * (tc * ts + -5 * ts * ts + 10 * tc + -10 * ts + 5 * t);
                }
                var options = {
                    useEasing: true,
                    easingFn: easingFn,
                    useGrouping: true,
                    separator: ',',
                    decimal: '.',
                };
                var demo = new CountUp('count1', 0, @tripsCount, 0, 3.6, options);
                var demo2 = new CountUp('count2', 0, @customersCount, 0, 3.6, options);
                var demo3 = new CountUp('count3', 0, @distanceTravelled, 0, 3.6, options);
                if (!demo.error) {
                    demo.start();
                } else {
                    console.error(demo.error);
                }
                if (!demo2.error) {
                    demo2.start();
                } else {
                    console.error(demo2.error);
                }
                if (!demo3.error) {
                    demo3.start();
                } else {
                    console.error(demo3.error);
                }


                a = 1;
            }

        });
    </script>
    
}